// Variables

wecolordeep = #00657F


body
  background-color: wecolordeep


h1
    color: red

div.image-background
    //background: url(/media/1124/dwarves5.jpeg);
    background-size: cover
    background-origin: content-box
    background-position: center 30%
    padding: 0px