// Variables

wecolordeep = white

body
  background-color: wecolordeep

#top
    min-height: 250px
    text-align: center
    vertical-align: middle
    line-height: 250px
    background-color: black

mytitle
    font-family: 'Shrikhand', cursive;
    font-size: 140px
    color: white

div.spacer
    height: 70px

h1
    color: green
    text-align: center

div.fade-over
   background-color: rgba(0,0,0,0.55)

div.image-background
    //background: url(/media/1124/dwarves5.jpeg);
    background-size: cover
    background-origin: content-box
    background-position: center 30%
    padding: 0px
    height: 3
 

    h1,p
        color: white

    p
        font-weight: bold


div.content
    center(800px)
    min-height: 300px
    padding: 0px 20px 0px 20px

    left
        span(1/3)
        display: table-cell
        float: none
        vertical-align: top
        background: red
        background-position: center 10%
        background-origin: content-box
    right
        span(2/3)
        display: table-cell
        float: none
        img
            col(1/3, cycle: 3)
            margin-bottom: 1rem

p
    font-family: 'Rasa', serif;
    font-size: 120%

h1,h2,h3,h4
    font-family: Lobster, cursive;

h1
    font-size: 50px

p
    padding: 0 20px 0 20px