---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="main">
            <div class="section">
                <h1>We Pop Up!</h1>
            </div>
            <div class="section">

                    

                <div class="image-background" style="background-image: url('{{ "/assets/img/play-stone.jpg" | prepend: site.baseurl | prepend: site.url }}');">
                    <h1>Ympäristö jossa ihmiset ja harrastukset kohtaavat</h1>
                    <p class="infront">
                            WE POP UP hanke on jatkoa Pro Lapinlahti mielenterveysseura ry:n pitkälle vapaaehtoistyön ja tapahtumien perinteelle Lapinlahdessa. Hanke tarjoaa mahdollisuuden tulla mukaan vapaaehtoistyöhön osallistumalla kulttuuri- ja luontoaiheisten tapahtumien järjestämiseen. Ympäristönä Lapinlahden entinen sairaala puistoineen tarjoaa upeat puitteet erilaisten tapahtumien järjestämiselle.
                    </p>
                </div>
            </div>
            <div class="section">
                <p>
                    WE POP UP hanke toteutetaan vuosina 2017–2019 ja siinä tuotetaan uusi tapahtumakohtaisen vapaaehtoistoiminnan malli kulttuuri- ja luontotapahtumien järjestämiseen. Hanke toteutetaan osana Lapinlahden Lähteen toimintaa ja tapahtumien järjestämisessä tehdään yhteistyötä eri järjestöjen ja oppilaitosten kanssa.
                    ​</p><p>
                    Luonto ja kulttuuri ovat merkittäviä hyvinvoinnin lähteitä, mutta ne eivät ole tasavertaisesti kaikkien kaupunkilaisten saavutettavissa. WE POP UP hanke tarjoaa mahdollisuuden päästä nauttimaan kulttuuri- ja luontotapahtumista ja myös osallistumaan itse niiden suunnitteluun ja järjestämiseen. Näin osallistujat voivat tuoda esiin omaa osaamistaan ja kokemusasiantuntijuuttaan, saada onnistumisen kokemuksia ja kohdata uusia ihmisiä. Hankkeen kohderyhmiä ovat työmarkkinoiden ja koulutuksen ulkopuolella olevat nuoret, mielenterveys- ja päihdekuntoutujat, maahanmuuttajat, yksinäisyyttä kokevat liikuntarajoitteiset ja eläkeläiset.
                    ​​ ​</p><p>
                    Jos haluat mukaan toimintaan, otathan meihin yhteyttä! Tapahtumatyöryhmiä kootaan sekä yhteistyöverkostojen kautta järjestettävissä tapaamisissa, Lapinlahden Lähteellä järjestettävissä Avoin tila-illoissa ja hanke järjestää myös säännöllisesti kokoontuvia tapahtumatyöryhmiä. Seuraa tiedotustamme facebookissa Pro Lapinlahden sivulla.
                </p>
            </div>

            <div class="section">
                    Laura Kontiala:
                    laura.kontiala(a)lapinlahdenlahde.fi
                    040-550 9069
                
                Tuomas Karisto:
                    tuomas.karisto(a)lapinlahdenlahde.fi
                    040-550 7789
                 
                Katri Ristiniemi:
                    katri.ristiniemi(a)lapinlahdenlahde.fi
            </div>

        </div>
    </body>
</html>
